:root {
    --main-font-light: 'Molde Expanded Light', 'Molde Expanded', sans-serif;
    --main-font-bold: 'Molde Expanded Bold', 'Molde Expanded', sans-serif;
    --main-font-heavy: 'Molde Expanded Heavy', 'Molde Expanded', sans-serif;
    --main-font-heavy-italics: 'Molde Expanded Heavy Italic', 'Molde Expanded', sans-serif;
    --main-font-blur: 'Bad Coma', sans-serif;
    --primary-color: #d30000;

}



body {
    margin: 0em;
    padding: 0em;
}

.color
{color: var(--primary-color);}

a {
    color: inherit; 
    text-decoration: none; 
}

.saai {
    font-family: var(--main-font-blur), var(--main-font-heavy);
    color: var(--primary-color);
    font-size: 73.98px;
}

h1 { font-size: 30px;}
  

.page1 {
    background-image: url("./img/pg1background.jpg") ;
    background-size: cover;
    position: relative;
   
}


.section1 { font-family: var(--main-font-light);
    display: inline-block;
    padding: 40px; 
  

}

.underline {
    position: absolute;
    top: 13em;
    width: 8em;
    margin: 0 0 0 1.6em;
    padding: 0em;
}


.inline
{display: inline;}

.secondaryfont
{
    font-style: italic ;
     
}

.aboutme {font-size: 26px}


.whoyou {
   font-family: var(--main-font-heavy-italics);
   font-size: 18px;
   color: #cfcaca ;
  
}

.button {
    width: 100%;
    display: block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--main-font-light);
    font-size: 16px;
    text-align: center;
    
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay:0s; 
}

.button:hover {
    background-color: #fa3434;
    transform: translateY(-4px);
}

.button-container {
    width: 80px;
}

.image-container {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.image-container img {
    margin-bottom: 10px; 
}


 .image-container .first-img {
    position: absolute;
    top: 212px;
    right: 189px;
    width: 60px;
 }
 .image-container .second-img {
    display: inline-block;
    position: relative;
    top: 80px;
    width: 400px;
 }

.image-container .third-img {
    position: absolute;
    left: 346px;
    top: 224px ;
    width: 55px 
}

.image-container2{display: flex;
}

#headlighton1 {
position: absolute;
right: 123px;
width: 190px;
top: 142px;    
background: transparent;
}


#headlighton2 {
position: absolute;
right: -32px;
width: 140px;
top: 168.5px;    

}



@keyframes fadeInOut {
    0%, 100% {opacity: 0.1;}
   25%, 75% {opacity: 1;}
}
@keyframes fadeInOut2 {
    0%, 100%, 100% {opacity: 0.1;}
   25%, 75% {opacity: 1;}
}

#headlighton1 {
    animation: fadeInOut 1s infinite; }
#headlighton2 {
    animation: fadeInOut2 1s infinite; }


#headlighton1:hover,
#headlighton2:hover {
    animation-play-state: paused;
opacity: 1;}



.navbar { 
display: flex;
align-items: center ;
justify-content: space-between;
list-style: none;
margin-top: 0em;
padding-top: 1em;
padding-left: 700px;
padding-right: 17px;
font-size: 120%;
}

